In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
#importing data
raw_data = pd.read_csv(r"C:\Users\USER\Crime_Data_from_2020_to_Present.csv")

data = raw_data.copy()

#Renaming all columns(on the copy)
data.columns = ['File_Number','Report_Date','Occ_Date','Occ_Time','Area_Code','Area_Name',
                'Sub_Area_Code','Crime_degree','Crime_Code','Crime_Desc','Mocodes','Vict_Age',
                'Vict_Sex','Vict Descent','Place_code','Place_Desc','Weapon_code','Weapon_Desc',
                'Status','Status_Desc','crime_1','crime_2','crime_3','crime_4','Location',
                'Cross_Street','LAT','LON'
               ]

### Column Dtypes Fix:

In [24]:
# Fixing date columns dtypes
data['Report_Date'] = pd.to_datetime(data["Report_Date"])
data['Occ_Date'] = pd.to_datetime(data["Occ_Date"])

In [25]:
# Fixing Time column dtype
data['Occ_Time'] = data['Occ_Time'].astype('str').str.zfill(4)
data['Occ_Time'] = data['Occ_Time'].str[:2] +":"+ data['Occ_Time'].str[2:]
data['Occ_Time'] = pd.to_datetime(data["Occ_Time"],format = "%H:%M").dt.time

In [26]:

#Converting catagorical columns into category dtype
# before 164.7+ MB
for column in data.columns:
    if data[column].nunique() <25:
        data[column] = data[column].astype('category')
    else:
        data[column] = data[column]
# after 123.5+ MB

,File_Number,Report_Date,Occ_Date,Occ_Time,Area_Code,Area_Name,Sub_Area_Code,Crime_degree,Crime_Code,Crime_Desc,...,Status,Status_Desc,crime_1,crime_2,crime_3,crime_4,Location,Cross_Street,LAT,LON
0,10304468,2020-01-08,2020-01-08,22:30:00,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,2020-01-02,2020-01-01,03:30:00,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,2020-04-14,2020-02-13,12:00:00,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,2020-01-01,2020-01-01,17:30:00,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,2020-01-01,2020-01-01,04:15:00,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
770782,231604807,2023-01-27,2023-01-26,18:00:00,16,Foothill,1663,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,12500 BRANFORD ST,NaN,34.2466,-118.4054
770783,231606525,2023-03-22,2023-03-22,10:00:00,16,Foothill,1602,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,12800 FILMORE ST,NaN,34.2790,-118.4116
770784,231210064,2023-04-12,2023-04-12,16:30:00,12,77th Street,1239,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV,NaN,33.9841,-118.2915
770785,230115220,2023-07-02,2023-07-01,00:01:00,1,Central,154,1,352,PICKPOCKET,...,IC,Invest Cont,352.0,NaN,NaN,NaN,500 S MAIN ST,NaN,34.0467,-118.2485
770786,230906458,2023-03-05,2023-03-05,09:00:00,9,Van Nuys,914,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,NaN,NaN,NaN,14500 HARTLAND ST,NaN,34.1951,-118.4487