In [96]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [97]:
#importing data
raw_data = pd.read_csv(r"C:\Users\USER\Crime_Data_from_2020_to_Present.csv")

data = raw_data.copy()

#Renaming all columns(on the copy)
data.columns = ['File_Number','Report_Date','Occ_Date','Occ_Time','Area_Code','Area_Name',
                'Sub_Area_Code','Crime_degree','Crime_Code','Crime_Desc','Mocodes','Vict_Age',
                'Vict_Sex','Vict Descent','Place_code','Place_Desc','Weapon_code','Weapon_Desc',
                'Status','Status_Desc','crime_1','crime_2','crime_3','crime_4','Location',
                'Cross_Street','LAT','LON'
               ]

#settings
pd.set_option("display.max_columns",30)

### Column Dtypes Fix:

In [98]:
# Fixing date columns dtypes
data['Report_Date'] = pd.to_datetime(data["Report_Date"])
data['Occ_Date'] = pd.to_datetime(data["Occ_Date"])

In [99]:
# Fixing Time column 
data['Occ_Time'] = data['Occ_Time'].astype('str').str.zfill(4)
data['Occ_Time'] = data['Occ_Time'].str[:2] +":"+ data['Occ_Time'].str[2:]
data['Occ_Time'] = pd.to_datetime(data["Occ_Time"],format = "%H:%M").dt.time
#adding an hour column
data["Occ_Hour"] = data["Occ_Time"].astype('str').str[:2]

In [100]:
#Converting catagorical columns into category dtype

# before 164.7+ MB

for column in data.columns:
    if data[column].nunique() <25:
        data[column] = data[column].astype('category')
    else:
        data[column] = data[column]
        
# after 123.5+ MB

In [111]:
#Makind File_Number More readable
data['File_Number'] = [i.zfill(6) for i in np.arange(0,770787).astype('str')]

# Fact:

In [230]:
#Orgenazing The Data into Tables
Fact = data[['File_Number','Report_Date','Occ_Date','Occ_Time','Area_Code','Sub_Area_Code','Crime_degree','Crime_Code','Status','LAT','LON']]

# Dim:

In [231]:
#Orgenazing The Data into Tables
Dim_Area = data[['Area_Code','Area_Name']].sort_values(by = 'Area_Code').reset_index(drop = True)

Dim_Sub_Area = data[['Sub_Area_Code','Area_Name']].sort_values(by = 'Sub_Area_Code').reset_index(drop = True)

Dim_Crime = data[['Crime_Code','Crime_Desc']].drop_duplicates().sort_values(by = 'Crime_Code').reset_index(drop = True)

Dim_Sub_Crime = data[['File_Number','Crime_Code','crime_2','crime_3','crime_4']]

Dim_Status = data[['Status','Status_Desc']].drop_duplicates().sort_values(by = 'Status').reset_index(drop = True)

Dim_Weapon = data[['File_Number','Weapon_code','Weapon_Desc']].dropna(how = 'any').reset_index(drop = True)

#information about the Place (Place Description)
Dim_Place = data[['Place_code','Place_Desc']]
Dim_Place = Dim_Place.dropna(how = 'any').drop_duplicates()
Dim_Place['Place_code'] = Dim_Place['Place_code'].astype('int16')
Dim_Place = Dim_Place.sort_values(by = 'Place_code').reset_index(drop = True)

#information about the victim (age, sex, Descent)
Dim_Victim = data[['File_Number','Vict_Age','Vict_Sex','Vict Descent']]

#information about the geographical place 
Dim_Geographic = data[['Location','Area_Name']].drop_duplicates().sort_values(by = 'Area_Name').reset_index(drop = True)

Dim_Coordinates = data[['File_Number','LAT','LON']]

Dim_LON = pd.DataFrame({"LON_ID":np.arange(10,len(Dim_Coordinates['LON'].unique())+10),"LON":Dim_Coordinates['LON'].unique()})
Dim_LAT = pd.DataFrame({"LAT_ID":np.arange(10,len(Dim_Coordinates['LAT'].unique())+10),"LAT":Dim_Coordinates['LAT'].unique()})

#Replacing LAT and LON Values with the New codes
Fact = Fact.merge(Dim_LON,on = 'LON').merge(Dim_LAT,on = 'LAT').sort_values(by = 'File_Number').reset_index(drop = True).drop(['LAT','LON'],axis = 1)

In [238]:
Dim_Geographic

                                      Location    Area_Name
0      7800 S  DENKER                       AV  77th Street
1      6300 S  HOOVER                       ST  77th Street
2              VERDUN                       AV  77th Street
3      1900 W  85TH                         ST  77th Street
4      1000 W  45TH                         ST  77th Street
...                                        ...          ...
67021  4600    ST CHARLES                   PL     Wilshire
67022  1600    ALVIRA                       ST     Wilshire
67023  7300    MELROSE                      AV     Wilshire
67024  4800 W  5TH                          ST     Wilshire
67025  5500 W  8TH                          ST     Wilshire

[67026 rows x 2 columns]